<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="7" android:versionName="0.7.0"
    package="com.paulish.widgets.stocks" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/stocks" android:label="@string/app_name">
        <provider
            android:authorities="com.paulish.widgets.stocks.provider"
            android:grantUriPermissions="true"
            android:multiprocess="true" android:name=".StocksProvider"/>
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:label="@string/app_name" android:name=".StocksWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/stocks_widget_provider"/>
        </receiver>
        <activity android:name=".ConfigurationActivity">
            <intent-filter>
                <action android:name="com.paulish.widgets.stocks.PREFS"/>
            </intent-filter>
        </activity>
        <activity android:name=".QuoteViewActivity">
            <intent-filter>
                <action android:name="com.paulish.widgets.stocks.QUOTE_VIEW"/>
            </intent-filter>
        </activity>
        <service android:name=".UpdateService"/>
    </application>
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
